{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}</h2>

<h3 id="user-balance">Your balance is {{ balance }}</h3>

<h2 id="available-tickets">Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4 id="ticket-info">(x{{ ticket.quantity }}) {{ ticket.ticket_name }} ${{ ticket.price }} Sold By: {{ ticket.owners_email }}</h4>
    </div>
{% endfor %}
</div>

<ul> 
	<li>
		<h1 id="buy-ticket">Buy Ticket</h1>
		
		<form method='POST' action="{{ url_for('buy_page.buy_post') }}">
 
			<label for='ticket_name'> Name: </label>
			<input type='text' name='ticket_name' id='buy-ticket-name' /> 
	
			<label for='quantity'> Quantity: </label>
			<input type='text' name='quantity' id='buy-quantity' /> 
 
			<input type='submit' id='buy-submit''/> 
		</form>
	</li>
	
	
	<li> 
		<h1 id="sell-ticket">Sell Ticket</h1>

		<form method='POST' action="{{ url_for('sell_page.sell_post') }}">
 
			<label for='ticket_name'> Name: </label>
			<input type='text' name='ticket_name' id='sell-ticket-name' /> 
	
			<label for='quantity'> Quantity: </label>
			<input type='text' name='quantity' id='sell-quantity' /> 
	
			<label for='price'> Price: </label>
			<input type='text' name='price' id='sell-price' /> 
	
			<label for='expiration'> Expiration Date: </label>
			<input type='text' name='expiration' id='sell-expiration' /> 
	
			<input type='submit' id='sell-submit''/> 
		</form>
		<h4 id='sell_message'>{{ sell_message }}</h4>
	</li>
	
	
	<li> 
		<h1 id="update-ticket">Update Ticket</h1>

		<form method='POST' action="{{ url_for('update_page.update_post') }}">
 
			<label for='ticket_name'> Name: </label>
			<input type='text' name='ticket_name' id='update-ticket-name' /> 
	
			<label for='quantity'> Quantity: </label>
			<input type='text' name='quantity' id='update-quantity' /> 
	
			<label for='price'> Price: </label>
			<input type='text' name='price' id='update-price' /> 
	
			<label for='expiration'> Expiration Date: </label>
			<input type='text' name='expiration' id='update-expiration' /> 
	
			<input type='submit' id='update-submit''/> 
		</form>
	</li>
</ul>

<a href='/logout' id="logout">logout</a>
{% endblock %}